<!DOCTYPE html>
<html>

<head>
  <title>hostmap - {{ title }}</title>
  <!-- <link rel="stylesheet" href="/assets/classless.css"> -->
  <style>
  </style>
</head>

<body style="margin: auto; max-width: 1000px;">
  <header>
    <h1>hostmap - {{ title }}</h1>
  </header>

  {% block content %}{% endblock %}

  <footer>
    <ul>
      <li>Here is a footer item 1</li>
      <li>Here is a footer item 2</li>
      <li>Here is a footer item 3</li>
    </ul>
  </footer>
</body>

</html>
