<!DOCTYPE html>
<html>

<head>
  <title>hostmap - {{ title }}</title>
  <style>
    @media (prefers-color-scheme: dark) {
      html {
      /*
      dark mode
      */
    /*
        filter: invert(1) hue-rotate(180deg);
    */
      }
    }
    table {
      border-collapse: collapse;
    }
    hr {
      color: #bbb;
    }
    th,
    td {
      padding: 2px 4px;
    }

    .mono-font {
        font-family: monospace;
        font-size: 1.2em;
    }
    th {
      text-align: left;
    }
    p {
      max-width: 700px;
    }
    main, header {
      margin: 0 8px;
    }
  </style>
</head>

<body style="width: fit-content;margin: auto;">
  <header>
    <h1><a href="/">hostmap</a> | {{ title }}</h1>
  </header>

  {% block content %}{% endblock %}

  <footer style="padding-top: 1em">
    <hr>
    <ul>
      <li><a href="https://github.com/YesSeri/hostmap">hostmap repo</a></li>
    </ul>
  </footer>
</body>

</html>
