<!DOCTYPE html>
<html>

<head>
  <title>hostmap - {{ title }}</title>
  <link rel="stylesheet" href="/assets/styles.css">
  <style>
    dl {
      display: grid;
      grid-template-columns: auto auto;
      width: fit-content;
    }
    dd, dt {
      outline: 1px solid black;
      margin: 0;
      padding: 0.5em;
    }
    td {
      border: 1px solid black;
    }
    @media (prefers-color-scheme: dark) {
      html {
        filter: invert(1) hue-rotate(180deg);
      }
    }
    table {
      border-collapse: collapse;
    }

    th,
    td {
      padding: 8px;
    }

    th {
      text-align: left;
    }
  </style>
</head>

<body style="margin: auto; max-width: 1000px;">
  <header>
    <h1><a href="/">hostmap</a> | {{ title }}</h1>
  </header>

  {% block content %}{% endblock %}

  <footer style="padding-top: 1em">
    <hr>
    <ul>
      <li>footer item 1</li>
      <li>footer item 2</li>
      <li>footer item 3</li>
    </ul>
  </footer>
</body>

</html>